* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html, body {

    background:#000;

    display:flex;

    align-items:center;

    justify-content:center;

    overflow:hidden;

}

.game {

    position:relative;

    width:100vw;

    height:56.25vw; /* 16:9 ratio */

    max-height:100vh;

    overflow:hidden;

    margin:auto;

    background:#020611;

}


.hud {

    position:absolute;

    inset:0;

    z-index:5;

    pointer-events:none;

}




.game-background {

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        rgba(0,0,0,.35),
        rgba(0,0,0,.55)
    ),
    url("./assets/battlefield.jpg");


    background-size:cover;

    background-position:center;

}



.moon {

    width:180px !important;

    top:70px;

    right:18%;

    opacity:.65;

}



.mountains-back {

    width:120% !important;

    left:-10%;

    bottom:230px;

    opacity:.7;

}



.village {

    width:110% !important;

    left:-5%;

    bottom:140px;

}



.mountains-front {

    width:120% !important;

    left:-10%;

    bottom:-80px;

}


.game-background::before {

content:"";

position:absolute;

inset:0;

background:

radial-gradient(
circle at 85% 50%,
rgba(255,0,0,.35),
transparent 35%
),

radial-gradient(
circle at 15% 50%,
rgba(0,150,255,.35),
transparent 35%
);

pointer-events:none;

z-index:10;

}


.game-background::after {

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        transparent 55%,
        rgba(0,0,0,.75)
    );

    pointer-events:none;

}


.enemy-panel {

    position:absolute;

    top:20px;

    left:20px;

    width:420px;

    height:100px;

    display:flex;

    align-items:center;

    gap:20px;

    color:white;

    background:rgba(0,0,0,.55);

    border:2px solid #ff1744;

}


.enemy-panel img {

    height:90px;

    width:90px;

    object-fit:cover;

}
